<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink><h4>July 13</h4></a>
		<ng-template ngbNavContent>
			<h4>Martin's Cove</h4>
			<img src="../../../assets/martins-cove.jpeg" alt="martins-cove">
            <p>
				We will head out of Green River around 8am on July 13 th to arrive at Martin’s Cove around 11am. There
				are many things we can do once we arrive. There is a very nice visitor’s center that I could spend hours
				in. There is also a very moving short movie that we can watch. Because we will not be there as a trek
				group, we may not have missionary guides to walk us through, but we have many experienced people in
				our group that will be able to guide us.
			</p>
			<p>
				A short walk can take you to Devil’s Gate, a well-known historic site. For those who want and are able,
				we will take a short hike up to the cove with the handcarts. For those who want to do this but are not
				able to walk that far, you can ride in the carts or on a rickshaw. When we get to the entrance of the
				cove, we will eat a sack lunch (each one packs their own lunch) in a picnic area.
			</p>
			<p>
				We will walk a short distance without the carts to an area with log benches for a spiritual presentation
				of the Pioneers in our family and on the Martin and Willie handcart groups. This area is considered
				sacred and we will treat that appropriately. For those who are able, you can hike up to the actual cove
				area. For those who haven’t been able to do this, I highly recommend to do this. There are feelings you
				can experience here that you cannot anywhere else.
			</p>
			<p>
				The weather may be hot this time of year. Please bring plenty of water, sunscreen, bug repellant and
				good walking shoes.
			</p>
			<p>
				We will then head back to “headquarters” in either Rock Springs or Green River and we will meet as a
				group and have a dinner and activities at a local park. This will be a nice time to visit and catch up with
				each other.
			</p>
			<p>
				Click <a target="_blank" href="https://www.churchofjesuschrist.org/learn/historic-sites/wyoming/martins-cove?lang=eng&amp;y_source=1_MjU4ODAwMTgtNDgzLWxvY2F0aW9uLndlYnNpdGU%3D">here</a> for more information on Martin's Cove.
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink><h4>July 14</h4></a>
		<ng-template ngbNavContent>
			<h4>The Flaming Gorge</h4>
            <img src="../../../assets/flaming-gorge-img.jpeg" alt="flaming-gorge">
			<p>
				Friday morning on July 14 th we will head down to the Flaming Gorge about one hour south of Rock
				Springs and Green River. We will meet at Dutch John, Utah where we will get rafts for our group. At the
				end of the float, there is great shady picnic area for us to eat lunch. We will have hamburgers and hot
				dogs for lunch in the picnic area. For those who want to float the river, make sure you dress
				appropriately and bring towels and sunscreen and water.
			</p>
			<p>
				For those who will not be floating the river, we will do some other exploring also. We may be able to
				take the dam tour. This has not been open since COVID, but I am hearing that this summer it will re-open.
				We shall see. If so, hopefully the dam guide will take us down the dam elevator to see the dam
				fish and the dam turbines. In the gift shop, you can get yourself a dam shirt or a dam hat if you desire. Click
				<a target="_blank" href="https://www.flaminggorgecountry.com/Flaming-Gorge-Dam-Visitor-Center">here</a> for more
				information on the Flaming Gorge.
			</p>
			<p>
				We will then head over to Red Canyon and check out some of the most beautiful vistas that rivals
				anything you have ever seen.  Click <a target="_blank" href="https://www.flaminggorgecountry.com/Red-Canyon-Visitor-Center">here</a> for more information on Red Canyon.
			</p>
			<p>
				Finally, we will head back to Green River and have dinner at a local park, and reminisce with those who
				may be joining the group at this point. We will be partying into the night.
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink><h4>July 15</h4></a>
		<ng-template ngbNavContent>
			<h4>Expedition Island</h4>
			<iframe width="300" height="169" src="https://www.youtube.com/embed/BsAhzJLs4kA"
			title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
			clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<!-- <img src="../../../assets/exp-island.jpeg" alt="exp-island"> -->
			<p>
				The main event will start bright and early. We have reserved a nice building on the Island that can
				accommodate all of us. Expedition Island is a small little island in the middle of the town of Green River.
				It is a park and a great place to gather. We will be able to do all kinds of activities for all ages. A splash
				park for the kids, or horseshoes for the old men. A ballpark where we can play kickball or softball, or go
				on a walk along the river and historic bridges. There are calm areas in the river around the island where
				the kids and adults alike can have fun in the water. Bring your favorite water toys to play in the river.
				(No motorized water toys allowed here)
			</p>
			<p>
				All kinds of photo opportunities for family pictures etc. In the main building, we will be having breakfast
				and lunch and we have all kinds of fun activities planned for the family. We have the building reserved
				from 7am until 3pm, but we can spend more time in the park area if so desired.
			</p>
			<p>
				Click <a target="_blank" href="https://www.tourwyoming.com/explore/sightseeing-and-attractions/expedition-island">here</a> for more information on the island.
			</p>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>