<div>
    <p>
        Welcome to the Meldrum reunion 2023 <em>Wyoming</em> style!
    </p>
    <p>
        The format this year will be a little bit different. We wanted to make it something that might work for
        everyone. If you want to or you can only attend just one day, we will be doing the main event on
        Saturday, which will last all day. If you want to do any of the excursions along with the main gathering,
        you can do that too. We will not be lodging in one primary location like in the past, although we are
        working with local hotels to provide a discounted rate if we stay together in the same place. Please see
        more information on this under the FAQ’s section.
    </p>
    <p>
        Briefly, we will be doing a Martin’s Cove excursion on Thursday, July 13th.  Friday, July 14th,
        we will be exploring Flaming Gorge and will float the river for those
        who are more adventurous.  Finally, on
        Saturday, July 15th, we will be gathering at Expedition Island in Green River Wyoming for our main event.
        More information can be found below in the 'what' section.
    </p>
    <p>
        It is critical that you RSVP for each event separately. Please use the RSVP button that will direct you to
        make reservations for each event separately for your family. Each household will need to make the
        RSVP so we can get an accurate count. Please make your reservations separately for each household.
        For example Larry and Maria Edman may make a reservation for their household of TWO. And even
        though Matt and Sara Edman are part of the Larry and Maria family, they will need to make their
        reservation separately and RSVP for FIVE, as they are a separate household.
    </p>
    <p>
        There is so much more to do if your heart desires. Please see under the “FAQ’s” for more ideas that you
        can do in the area if you prefer to do rather than the planned excursion.
    </p>
    <p>
        Finally, <strong>WELCOME</strong> all! We hope the venue and planned activities will be something that will create some
        wonderful memories for you and your family!
    </p>
</div>