<div>
    <p>Events have been created for all of the reunion activities.<br>Feel free to add to your own google calandar using the links below:</p>
    <ul>
        <li><a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NjNmaDNhMjRncHRxNnRic3IyYzg5dGUwM3YgOTZiN2E5OWNjOTBmMjM3MDEyODQ2MGYwZTAxNGY0NWViMDk0MjUxY2JhZWI4NjJkMGNmOTYwMDFmZTFiN2RmZEBn&amp;tmsrc=96b7a99cc90f2370128460f0e014f45eb094251cbaeb862d0cf96001fe1b7dfd%40group.calendar.google.com"><i class="bi bi-calendar-event-fill"></i> Martin's Cove</a></li>
        <li><a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=Mmw4YW1qZmlsaXE5MDc3bjJnZ3NtM3JlZG8gOTZiN2E5OWNjOTBmMjM3MDEyODQ2MGYwZTAxNGY0NWViMDk0MjUxY2JhZWI4NjJkMGNmOTYwMDFmZTFiN2RmZEBn&amp;tmsrc=96b7a99cc90f2370128460f0e014f45eb094251cbaeb862d0cf96001fe1b7dfd%40group.calendar.google.com"><i class="bi bi-calendar-event-fill"></i> Flaming Gorge</a></li>
        <li><a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NnFsNGRoa2dmanI0MnFmZWllOW01cmk4dGYgOTZiN2E5OWNjOTBmMjM3MDEyODQ2MGYwZTAxNGY0NWViMDk0MjUxY2JhZWI4NjJkMGNmOTYwMDFmZTFiN2RmZEBn&amp;tmsrc=96b7a99cc90f2370128460f0e014f45eb094251cbaeb862d0cf96001fe1b7dfd%40group.calendar.google.com"><i class="bi bi-calendar-event-fill"></i> Expedition Island</a></li>
    </ul>
</div>
