<div>
  <div class="page-header container-fluid border-bottom sticky-top">
    <div class="row">
      <h1 class="col mt-3">Meldrum Family Reunion '23</h1>
      <div class="col-auto">
        <app-rsvp class="float-end mt-4 mb-4"></app-rsvp>
      </div>
    </div>
  </div>

  <img src="../assets/pexels-todd-trapani-3593865.jpg" class="img-fluid" alt="tree.jpg">

  <div class="mt-3 rounded">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-people-fill text-primary"></i>
            <div class="mx-3">Who?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-who></app-who>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-emoji-laughing-fill text-primary"></i>
            <div class="mx-3">What?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-what></app-what>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-calendar-date-fill text-primary"></i>
            <div class="mx-3">When?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-when></app-when>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-pin-map-fill text-primary"></i>
            <div class="mx-3">Where?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-where></app-where>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-question-circle-fill text-primary"></i>
            <div class="mx-3">FAQ's</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-who></app-who>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-muted">By Jason Edman, 2022</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a href="mailto:jason.e24@gmail.com" class="text-muted">
        <i class="bi bi-envelope-at-fill"></i>
      </a>
    </li>
    <li class="ms-3">
      <a href="https://github.com/jpe0824" class="text-muted">
        <i class="bi bi-github"></i>
      </a>
    </li>
  </ul>
</footer>
