<div>
  <div class="page-header container-fluid border-bottom sticky-top">
    <div class="row">
      <h1 class="col mt-3 title">Meldrum Family Reunion '23</h1>
      <div class="col-auto">
        <app-rsvp class="float-end mt-4 mb-4"></app-rsvp>
      </div>
    </div>
  </div>

  <img src="../assets/flamingGorge.jpg" class="img-fluid" alt="tree.jpg">
  <div class="card">
  <div class="card-body">
    <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">

      <ngb-panel id="ngb-panel-0">

        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-info-circle-fill text-primary"></i>
            <div class="mx-3">Introduction</div>
          </div>


        </ng-template>
        <ng-template ngbPanelContent>
          <app-info></app-info>
          <button type="button" class="btn btn-primary m-1" (click)="acc.expand('ngb-panel-1')">Next</button>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-1">
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-people-fill text-primary"></i>
            <div class="mx-3">Who?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-who></app-who>
            <button type="button" class="btn btn-secondary m-1" (click)="acc.expand('ngb-panel-0')">Prev</button>
            <button type="button" class="btn btn-primary m-1" (click)="acc.expand('ngb-panel-2')">Next</button>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-2">
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-emoji-laughing-fill text-primary"></i>
            <div class="mx-3">What?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-what></app-what>
          <button type="button" class="btn btn-secondary m-1" (click)="acc.expand('ngb-panel-1')">Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="acc.expand('ngb-panel-3')">Next</button>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-3">
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-calendar-date-fill text-primary"></i>
            <div class="mx-3">When?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-when></app-when>
          <button type="button" class="btn btn-secondary m-1 btn-container" (click)="acc.expand('ngb-panel-2')">Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="acc.expand('ngb-panel-4')">Next</button>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-4">
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-pin-map-fill text-primary"></i>
            <div class="mx-3">Where?</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-where></app-where>
          <button type="button" class="btn btn-secondary m-1" (click)="acc.expand('ngb-panel-3')">Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="acc.expand('ngb-panel-5')">Next</button>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-5">
        <ng-template ngbPanelTitle>
          <div class="section-header d-flex">
            <i class="bi bi-question-circle-fill text-primary"></i>
            <div class="mx-3">FAQ's</div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-faqs></app-faqs>
          <button type="button" class="btn btn-secondary m-1" (click)="acc.expand('ngb-panel-4')">Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="acc.expand('ngb-panel-0')">Back to Top</button>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
  <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">By Jason Edman, 2022</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="mailto:edman.paulr@gmail.com" class="text-muted">
          <i class="bi bi-envelope-at-fill"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/jpe0824" class="text-muted">
          <i class="bi bi-github"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
